@import url(/style/reset.css); 
@import url(/style/style.css);



.autorization_limit_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.autorization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--clr-input-border);
}

.autorization h1 {
    color: var(--clr-primary-600);
    margin-bottom: 2.5rem;
}

.back_link {
    display: block;
    text-decoration: none;
    color: var(--clr-primary-200);
    margin-top: 0.625rem;
    margin-bottom: 1rem;
}

.back_link::before{
    content: url(/images/autorization/back-arrow.svg);
    vertical-align: top;
    margin-right: 0.625rem;
    margin-top: 0.625rem;
}

form {
    width: 40%;
}

.navigation__header_search_field input {
    margin: 0;
}

.navigation__header_button_search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right_side_search_field input {
    margin-top: 0;
}

input[type='submit'] {
    border-radius: 0;
}

input[type='search'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input {
    margin-top: 1.25rem;
    border: 1px solid var(--clr-input-border);
    border-radius: 0.3125rem;
    padding: 0.9375rem;
    color: var(--clr-input-placeholder);
    outline: none;
}

form button {
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    border: none;
    padding: 1.25rem;
    border-radius: 0.25rem;
    background: var(--clr-primary-500);
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-content-slider);
    cursor: pointer;
}

.forget_password_link {
    margin-bottom: 3.125rem;
    text-decoration: underline;
    font-size: 1.25rem;
    color: var(--clr-primary-500);

}

.registration {
    display: flex;
    max-width: 50%;
    padding: 3.125rem 0 4.375rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--clr-input-border);
}

.registration button {
    width: 80%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    border: 1px solid var(--clr-primary-500);
    padding: 1.25rem;
    border-radius: 0.25rem;
    background: var(----clr-content-slider);
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
    cursor: pointer;
}

.registration button:hover {
    color: var(--clr-content-slider);
    background: var(--clr-btn-hover);
}

.autorization button:hover {
    color: var(--clr-content-slider);
    background: var(--clr-btn-hover);
}

.registration h2 {
    color: var(--clr-primary-600);
    margin-bottom: 1.25rem;
}

.registration p {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    color: var(--clr-text-header);
    text-align: center;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    html {
        font-size: var(--fz-secondary);
    }

    .back_link {
        padding-inline: 1rem;
    }

    .back_link::before{
        content: url(/images/autorization/back-arrow.svg);
        vertical-align: bottom;
        margin-right: 0rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
    .back_link {
        display: flex;
        padding: 1.07rem 1.28rem;
        margin: 0;
        font-size: 0.85rem;
        align-items: flex-start;
    }

    .back_link::before{
        content: url(/images/mobile/autorization/arrow_left_back.svg);
        margin: 0;
    }

    .autorization h1 {
        font-size: 1.57rem;
        margin-bottom: 0;
    }

    form {
        width: 100%;
        padding: 0 1.28rem;
    }

    form button {
        margin-top: 1.42rem;
        margin-bottom: 1.42rem;
        font-size: 1rem;
    }

    .registration p,
    form input {
        font-size: 1rem;
    }

    .forget_password_link {
        font-size: 1.14rem;
    }

    .registration {
        max-width: 100%;
        padding: 2.85rem 1.28rem;
    }

    .registration  h2 {
        font-size: 1.57rem;
    }

    .registration button {
        width: 100%;
        font-size: 1rem;
        margin-top: 0; 
    }
     
}