@import url(/style/reset.css);
@import url(/style/style.css);
@import url(/style/autorization.css);


.check_answer {
    display: flex;
    width: 100%;
}

form {
    max-width: 40%;
}

form button {
    margin-bottom: 3.125rem;
}

.check_answer input:first-child {
    width: 5rem;
    max-width: fit-content;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background-color: var(--clr-input-border);
    color: var(--clr-primary-600);
}

.check_answer input:last-child {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    color: var(--clr-primary-600);
}

.form_submit {
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
}

.form_submit input {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
    margin-right: 0.9375rem;
}

.form_submit label {
    font-size: 0.875rem;
    color: var(--clr-primary-600);
}

.autorization_enter {
    margin-top: 0;
}

.registration button {
    max-width: 80%;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    html {
        font-size: var(--fz-secondary);
    }
    
    /* .back_link {
        display: inline-block;
        padding-inline: 1rem;        
    } */


    .check_answer input:first-child {
        width: 5.5rem;
        max-width: fit-content;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
    .back_link {
        display: flex;
        padding: 1.07rem 1.28rem;
        margin: 0;
        font-size: 0.85rem;
        justify-content: center;
        align-items: flex-start;
    }

    .back_link::before{
        content: url(/images/mobile/autorization/arrow_left_back.svg);
    }

    .autorization h1 {
        font-size: 1.57rem;
        margin-bottom: 0;
    }

    form {
        max-width: 100%;
        padding: 0 1.28rem;
    }

    form button {
        margin-top: 1.42rem;
        margin-bottom: 3.57rem;
        font-size: 1rem;
    }

    .registration p,
    form input {
        font-size: 1rem;
    }

    .forget_password_link {
        font-size: 1.14rem;
    }

    .registration {
        max-width: 100%;
        padding: 2.85rem 1.28rem;
    }

    .registration  h2 {
        font-size: 1.57rem;
    }

    .registration button {
        max-width: 100%;
        font-size: 1rem;
        margin-top: 0;
    }

    .check_answer input:first-child {
        width: 5rem;
    }
}