@import url(/style/reset.css);
@import url(/style/style.css);
@import url(/style/create_account.css);

.autorization_enter {
    margin-top: 1.875rem;
}

form {
    max-width: 40%;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    html {
        font-size: var(--fz-secondary);
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
    .back_link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1.07rem 1.28rem;
        margin: 0;
        font-size: 0.85rem;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .back_link::before{
        content: url(/images/mobile/autorization/arrow_left_back.svg);
    }

    .autorization h1 {
        font-size: 1.57rem;
        margin-bottom: 0;
    }

    form {
        max-width: 100%;
        padding: 0 1.28rem;
    }

    form button {
        margin: 1.42rem 0;
        font-size: 1rem;
    }

    form input {
        margin-top: 2.14rem;
    }

    .forget_password_link {
        margin-bottom: 5rem;
    }
}