@import url(/style/reset.css); 
@import url(/style/style.css);
@import url(/style/about.css);

body {
    font-size: var(--fz-secondary);
}

ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    counter-reset: item;
} 

li {
    display: block;
    margin: 0.3rem 0;
    color: var(--clr-text-header);
}

ol li:last-child {
    margin: 0;
}

ol > li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

ol > li ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

.about_article h2 {
    line-height: 1.2;
}

.first_level_list {
    padding: 0;
}

li a {
    text-decoration: none;
    color: var(--clr-primary-500);
}