@import url(/style.css/reset.css);

:root {
    --clr-primary-100: #FDFDFD;
    --clr-primary-200: #AFB2C4;
    --clr-primary-300: #FCFCFC;
    --clr-primary-400: #1C3653;
    --clr-primary-500: #E55241;
    --clr-primary-600: #1E222E;
    --clr-text-header: #3A3E48;
    --clr-content-slider: #FFFFFF;
    --clr-span: #F7F7F7;
    --clr-btn-normal: red;
    --clr-btn-hover: #DD1718;
    --clr-btn-active: blue;
    --clr-background: #F4F4F4;
    --clr-link-active: #FFF6F6;
    --clr-input-border: #DBDFEC;
    --clr-input-placeholder: #a6a6a6;
    --ff-primary: 'proxima-nova', sans-serif;
    --fz-primary: 16px;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

html, body {
    font-family: var(--ff-primary);
    font-size: var(--fz-primary);
}

/* header section */

.navigation_top {
    width: 100%;
    background-color: var(--clr-primary-300);
}

.navigation__header_top {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr; 
}

.navigation__header_top_left {
    display: flex;
    justify-content: left;
    gap: 1.875rem;
    list-style-type: none;
    margin: 0;
    padding: 1.25rem 0;
    height: 3.75rem;
}

.navigation__header_top_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1.875rem;
    list-style-type: none;
    margin: 0;
    padding: 1.25rem 0;
    height: 3.75rem;
}

.navigation__header_top_right li {
    display: flex;
    gap: 0.3125rem; 
    height: 1.25rem;
    align-items: center;
}

.navigation__header_top_left li a,
.navigation__header_top_right li a {
   text-decoration: none;
   color: var(--clr-text-header);
   font-weight: var(--fw-400);
}

.navigation__header_bottom {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.9375rem 0;
    justify-content: space-between;
    align-items: center; 
}

.navigation__header_bottom_logo {
    
}

.navigation__header_bottom_menu_row {
    display: flex;
    gap: 1.875rem;
    
}

.navigation__header_bottom_menu_row li {
    display: flex;

}

.navigation__header_bottom_menu_row li a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--clr-primary-600);
}

.navigation__header_bottom_search {
    display: flex;
    gap: 0.9375rem;
}

.navigation__header_bottom_button {
    width: 10.5rem;
    border: 1px solid var(--clr-primary-500);
    border-radius: 0.25rem;
    color: var(--clr-primary-500);
    background: none;
    font-size: 1.125rem;
}

 /* section help in immigration */
.container__help_in_immigration {
    background: url(/images/Group_red_dotted.png) no-repeat 10% 100%,
                url(/images/Group_white_dotted.png) no-repeat 102% 80%,
                url(/images/Vector.png) no-repeat 2% 77%, 
                url(/images/Vector.png) no-repeat 77% 30%,
                url(/images/red_rectangle.png) no-repeat right;
    
    background-color: var(--clr-background);
}


.container__help_in_immigration_limit {
    
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: url(/images/help_in_immigration_girl.png) no-repeat right bottom;
    
}

@media screen and (max-width:1440px) {
    .container__help_in_immigration {
        background: url(/images/Group_red_dotted.png) no-repeat 1% 100%,
                    url(/images/Group_white_dotted.png) no-repeat 110% 80%,
                    url(/images/Vector.png) no-repeat 87% 30%,
                    url(/images/red_rectangle.png) no-repeat 125%;
        background-color: var(--clr-background);
    } 
}

@media screen and (min-width:1220px) and (max-width: 1400px) {
    .container__help_in_immigration {
        background: url(/images/Group_white_dotted.png) no-repeat 110% 80%,
                    url(/images/Group_red_dotted.png) no-repeat -2% 100%,
                    url(/images/Vector.png) no-repeat 88% 30%,
                    url(/images/red_rectangle.png) no-repeat 145%; 
        background-color: var(--clr-background);
    }
    
}

@media screen and (max-width:1220px) {
    .container__help_in_immigration {
        background: url(/images/Vector.png) no-repeat 93% 30%,
                    url(/images/red_rectangle.png) no-repeat 150%; 
        background-color: var(--clr-background);
    }
    
}

.container__help_in_immigration_list {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 8.75rem 0 12.4375rem 0;
}

.container__help_in_immigration_list ul {
    padding: 0;
    color: var(--clr-text-header);   
}

.container__help_in_immigration_list li {
    display: flex;
    text-align: center;
    gap: 0.75rem;
    margin-bottom: 1.125rem;
    font-size: 1.5rem;
    color: var(--clr-text-header);
}

.container__help_in_immigration_list h1 {
    font-size: 3rem;
    font-weight: var(--fw-700);
    line-height: 4rem;
}

.container__help_in_immigration_list li p {
    
     
}

.container__help_in_immigration_list_btn_block {
    display: flex;
    gap: 0.925rem;
}

.container__help_in_immigration_list_btn_more {
    width: 12.25rem;
    padding: 1.25rem 3.125rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--clr-primary-500);
    font-size: 1.125rem;
    color: var(--clr-primary-100);
}

.container__help_in_immigration_list_btn_question {
    width: 14.0625rem;
    padding: 1.25rem 3.125rem;
    border: 1px solid #E55241;
    border-radius: 0.25rem;
    background-color: var(--clr-background);
    font-size: 1.125rem;
    color: var(--clr-primary-500);
}

 /* section popular offers slider 1 */
.popular_offers {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4.375rem 0;
}

.popular_offers_header {
    display: flex;
    margin-bottom: 2.4375rem;
    align-items: center;
    justify-content: space-between;
 }

 .popular_offers_header h2 {
   font-size: 2rem;
   font-weight: var(--fw-700);
   color: var(--clr-primary-600);
 }

 .popular_offers_header p a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
 }

.popular_offers_header_arrow {
    display: flex;
    gap: 1.5rem;
}

.popular_offers_list_article {
    display: flex;
    justify-content: space-between;
    
}

.popular_offers_article {
    display: flex;
    border: 1px solid var(--clr-background);
    border-radius: 0.625rem;
    max-width: 23%;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--clr-content-slider);    
}

.popular_offers_article_images {
    height: 67%;
    border-radius: 0.625rem 0.625rem 0 0;
    overflow: hidden; 
}

.popular_offers_article h3 {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-600);
}

.popular_offers_article img {
    display: block;
    transition: 0.7s;
}

.popular_offers_article img:hover {
    transform: scale(1.3);
}

.popular_offers_article_contain {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 0.9375rem 1.875rem 0.9375rem;
}

.popular_offers_article_contain_text > p {
    font-size: 0.875rem;
    font-weight: var(--fw-400);
    color: var(--clr-text-header);
    line-height: 20px;
}

.popular_offers_article_contain_text {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    gap: 1.5rem;
    height: 100%;
    justify-content: space-between;
}

.popular_offers_article_cost {
    display: flex; 
    gap: 2.375rem;
}

.popular_offers_article_money_ruble {
   font-size: 1.25rem; 
   font-weight: var(--fw-700);
}

.popular_offers_article_money_ruble:last-child {
    font-size: 0.875rem; 
    font-weight: var(--fw-400);
    color: var(--clr-primary-200);
}

.popular_offers_article_button {
    width: 8rem;
    padding: 0.625rem 1rem;
    border: 1px solid #E55241;
    border-radius: 0.25rem;
    background: none;
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 2rem;
}

/* section slider 2 */
.immigration {
    width: 100%;
    background-color: var(--clr-background);
}

.immigration_limit_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4.375rem 0;
    border-radius: 0.625rem;
}

.immigration_article_contain {
    display: flex;
    flex-direction: column;
    padding: 0.9375rem;
}

.immigration_article_contain h3 {
    display: flex;
    flex-direction: column;
}

.immigration_article {
    display: flex;
    border: 1px solid var(--clr-background);
    border-radius: 0.625rem;
    max-width: 23%;
    flex-direction: column;
    background-color: var(--clr-content-slider);
    
}

.immigration_article_images {
    overflow: hidden;
    border-radius: 0.625rem 0.625rem 0 0;
}

.immigration_article img {
    display: block;
    
    background-image: url(/images/logo_popular_offers_article.png);
    transition: 0.7s;
    
}

.immigration_article img:hover {
    transform: scale(1.3);
    
}


/* section 3 where_to_begin */

.where_to_begin {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.where_to_begin_container {
    display: flex;
    justify-content: space-between;
}

.where_to_begin_items_header {
    margin-bottom: 1.875rem;
}

.where_to_begin_items_header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-600);
}

.where_to_begin_items_header a::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(/images/Arrow_right.png) no-repeat center;
    margin-left: 1.25rem;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100%;
}

.where_to_begin_items {
    display: flex;
    max-width: 32%;
    flex-direction: column; 
    padding: 4.375rem 0; 
    
}

.where_to_begin_items a {
    border: 1px solid var(--clr-background);
    border-top: none;
}

.where_to_begin_items a:last-child {
    border-radius: 0 0 0.625rem 0.625rem;
}

.where_to_begin_items a:first-child {
    border: none;
}

.where_to_begin_items_a {
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: auto;
    padding: 0.75rem 0.875rem;
    font-size: 1rem;
    font-weight: var(--fw-400);
    line-height: 1.5rem;
    color: var(--clr-text-header);
}

.where_to_begin_items_a:hover {
    background-color: var(--clr-link-active);
    color: var(--clr-primary-500);
    border-left: 4px solid var(--clr-primary-500);
}

.where_to_begin_items > a:last-child:hover {
    border-bottom: 9px solid var(--clr-link-active); 
}

.where_to_begin_items_main {
    display: block;
    position: relative;
    text-decoration: none;
    border-radius: 0.625rem 0.625rem 0 0;
    overflow: hidden;
}

.where_to_begin_items_main img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.where_to_begin_items_main img:hover {
   transform: scale(1.3);
}

.where_to_begin_items_main span {
    position: absolute;
    width: 100%;
    bottom: 0%;
    padding: 0.75rem 0.875rem;
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-span);
    background: rgba(30, 34, 46, 0.4);
}

.where_to_begin_items_questions {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
    
}

.where_to_begin_items_questions p {
    line-height: 1.8rem;
    font-weight: var(--fw-400);
}

.where_to_begin_items_questions button {
    height: 4rem;
    border: none;
    border-radius: 0.25rem;
    background: var(--clr-primary-500);
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-content-slider);
    cursor: pointer;
}

.where_to_begin_items_questions button:hover {
    background: var(--clr-btn-hover);
}

.where_to_begin_items_questions button span::after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    background: url(/images/arrow-right_ffffff.png);
    background-size: 100%;
    margin-left: 0.625rem;
    height: 1.5rem;
    width: 1.5rem;
}

/* section about */

.about_project {
    background: var(--clr-background);
}

.about_project_limit_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4.375rem 0;
}

.about_project_content {
    display: flex;
    width: 100;
    gap: 1.75rem;
}

.about_project_content img {
    display: block;
    max-width: 100%;
}

.about_project_content_information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_project_content_information h2 {
    font-size: 2rem;
}

.about_project_content_information p {
   line-height: 1.5rem;
   color: var(--clr-text-header);
}

.about_project_content_information_button {
    width: 65%;
    height: 4rem;
    border: none;
    border-radius: 0.25rem;
    background: var(--clr-primary-500);
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-content-slider);
    cursor: pointer;
}

.about_project_content_information_button:hover {
    background: var(--clr-btn-hover);
}

.about_project_content_information_button span::after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    background: url(/images/arrow-right_ffffff.png);
    background-size: 100%;
    margin-left: 0.625rem;
    height: 1.5rem;
    width: 1.5rem;
}

/* section add_to_community */

.add_to_community {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.add_to_community_container {
    display: flex;
    padding: 4.375rem 0;
    gap: 1.875rem;
}


.add_to_community_information {
    display: flex;
    flex-direction: column;
    max-width: 49.5%;
    padding: 3.4375rem 3.75rem 3.4375rem 2.5rem;
    background-color: var(--clr-background);
    border-radius: 0.625rem;
    gap: 1.25rem;
    
}

.add_to_community_information_header {
    display: flex;
    flex-direction: row;
    gap: 0.9375rem;
}

.add_to_community_information_header h2 {
    font-size: 2rem;
}

.add_to_community_information p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--clr-text-header);
}

.add_to_community_information p span {
    color: var(--clr-primary-500);
    font-size: 1.25rem;
    font-weight: var(--fw-700);
}

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 49.5%;
    justify-content: space-between;

}

.input_fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.9375rem;
}

.input_fields input:not(:last-child) {
    height: 4rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--clr-input-border);
}

.input_fields input  {
    color: var(--clr-input-placeholder);
    padding-left: 0.9375rem;
}

.enter_answer {
    display: flex;
    align-items: center;
    height: 4rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--clr-input-border);
}

.enter_answer input:first-child {
    width: 37%;
    height: 100%;
    padding: 1.25rem 0.8rem;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--clr-input-border);
    outline: none;
    color: var(--clr-primary-600);
}

.enter_answer input {
    width: 100%;
    border: none;
    outline: none;
}

.form_submit_field {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    gap: 0.9375rem;
}

.form_submit_field label {
    font-size: 0.875rem;
}

.form_submit_field input {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--clr-primary-500);
}

.form_button_field {
    display: flex;
    gap: 0.9375rem;
}


.form_registration_btn {
    width: 39%;
    height: 4rem;
    border: none;
    border-radius: 0.25rem;
    background: var(--clr-primary-500);
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-content-slider);
    cursor: pointer;
}

.form_login_btn {
    width: 39%;
    height: 4rem;
    border: 1px solid var(--clr-primary-500);
    border-radius: 0.25rem;
    background: var(--clr-content-slider);
    font-size: 1.125rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
    cursor: pointer;
}

.form_registration_btn:hover {
    background: var(--clr-btn-hover);
}

.form_login_btn:hover {
    background: var(--clr-btn-hover);
    color: var(--clr-content-slider);
}

